@import "/src/styles/main.scss";

.shareBack {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.2);
}
.shareWrap {
  width: 35.6rem;
  height: 26.6rem;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.4rem;
  padding: 3.3rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include respondTo(small) {
    width: 53.4rem;
    height: 32rem;
  }
}
.shareTitle {
  color: var(--green90);
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 2.3rem;
  @include respondTo(small) {
    font-size: 2.1rem;
  }
}
.kakaoImg {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 99px;
  flex-shrink: 0;
  background-color: var(--kakao-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  & > div {
    width: 3.1rem;
    height: 2.9rem;
    position: relative;
  }
  // @include respondTo(small) {
  //   width: 6.8rem;
  //   height: 6.8rem;
  // }
}
.kakaoText {
  color: var(--comment-text);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  @include respondTo(small) {
    font-size: 1.7rem;
  }
}

.shareOrigin {
  width: 100%;
  min-width: 32.2rem;
  max-width: 46.8rem;
  height: 4.4rem;
  border-radius: 1rem;
  border: 1px solid var(--d9d9d9);
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 2.3rem;
  @include respondTo(small) {
    height: 4.8rem;
  }
  & > input {
    padding: 1rem 1.4rem;
    color: var(--detail-title);
    font-size: 1.6rem;
    line-height: 25px;
    @include respondTo(small) {
      font-size: 1.8rem;
    }
  }
  & > div {
    width: 7.3rem;
    height: 4.4rem;
    padding: 1rem;
    color: var(--detail-title);
    font-size: 1.5rem;
    line-height: 25px;
    border: 1px var(--date-text);
    background: var(--mypage-toggle-border);
    position: absolute;
    right: 0;
    letter-spacing: -0.225px;
    cursor: pointer;
    text-align: center;
    @include respondTo(small) {
      width: 10.6rem;
      height: 4.8rem;
      font-size: 1.7rem;
    }
  }
}
.shareClose {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 3.26rem;
  top: 3.3rem;
  cursor: pointer;
}
.shareNoti,
.bookmarkNoti {
  width: 90%;
  min-width: 35.6rem;
  max-width: 53.4rem;
  height: 4.4rem;
  border-radius: 1rem;
  background: rgba(11, 183, 109, 0.8);
  color: var(--white);
  font-size: 1.4rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);

  animation: noti 3s ease-in-out forwards;
  @include respondTo(small) {
    font-size: 1.8rem;
    color: var(--white);
  }
}
.bookmarkNoti {
  background: rgba(77, 77, 77, 0.8);
}
@keyframes noti {
  0% {
    bottom: 5rem;
    opacity: 0%;
  }
  10% {
    bottom: 10rem;
    opacity: 100%;
  }
  90% {
    bottom: 10rem;
    opacity: 100%;
  }
  100% {
    bottom: 5rem;
    opacity: 0%;
  }
}
