@import "@/styles/main.scss";

.wrap {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}
.btn {
  flex: 1;
  // width: 11.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid var(--c4c4c4);
  color: var(--c4c4c4);
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.btnOn {
  flex: 1;
  // width: 11.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid var(--comment-text);
  color: var(--comment-text);
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
