.slideWrap {
  z-index: 11;
  width: 100%;
  max-width: 60rem;
  min-width: 39rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide {
  height: 100vh;
}

.slide1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1rem;
  & p {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 26px;
    @include respondTo(small) {
      font-size: 2.1rem;
    }
  }
}
.slide2 {
  width: 100%;
  position: absolute;
  //   top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  & section {
    position: relative !important;
  }
}
.btnWrap {
  width: 100%;
  pointer-events: none;
}
.bubble {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  & > img {
    position: relative;
    top: 0.1rem;
    left: 4rem;
  }
  & .bubbleText {
    width: 30.7rem;
    height: 4.6rem;
    border-radius: 5.1rem;
    background: var(--primary-green);

    color: var(--white);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 4.6rem;
    @include respondTo(small) {
      width: 36.7rem;
      height: 5.2rem;
      line-height: 5.2rem;
      font-size: 2.1rem;
    }
  }
}

.slide3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img {
    margin-top: 13rem;
  }
  & .bubble {
    position: absolute;
    bottom: 20rem;
    & > img {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.slide4 {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img {
    position: absolute;
    bottom: 14rem;
  }
  & .bubble {
    position: absolute;
    bottom: 30rem;
    & > img {
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      top: -0.1rem;
    }
  }
}
