@import "@/styles/main.scss";

.gnbWrap {
  width: 100%;
  min-width: 39rem;
  height: 7.6rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.5rem;
  background: var(--white);
  box-shadow: 0px 0px 10px 0px #b8c4c0;
  transform: translateX(-50%);
  z-index: 10;
  @include respondTo(small) {
    max-width: 60rem;
    height: 8.3rem;
    padding: 1.6rem 8.2rem;
  }
}

.gnbMenuImg {
  width: 2.4rem;
  min-height: 2.4rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.gnb,
.gnbOn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  @include respondTo(small) {
    font-size: 1.35rem;
  }
}
.gnbOn {
  color: var(--primary-green);
  & > .onBar {
    width: 5rem;
    height: 0.3rem;
    background: var(--primary-green);
    position: absolute;
    top: 0;
  }
}
.notiNew {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 2.5rem;
  background-color: var(--error-red);
  position: absolute;
  right: -0.5rem;
  top: 0;
}
