@import "@/styles/main.scss";

.gnbWrap {
  width: 100%;
  max-width: 39rem;
  height: 7.6rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #b8c4c0;
  transform: translateX(-50%);
  z-index: 10;
}

.gnbMenuImg {
  width: 2.4rem;
  min-height: 2.4rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.gnb,
.gnbOn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
}
.gnbOn {
  color: #0bb76d;
  & > .onBar {
    width: 5rem;
    height: 0.3rem;
    background: #0bb76d;
    position: absolute;
    top: 0;
  }
}
.notiNew {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 2.5rem;
  background-color: #ff3232;
  position: absolute;
  right: -0.5rem;
  top: 0;
}
