@import "@/styles/main.scss";

.itemsWrapDetail {
  width: 100%;
  min-height: calc(100vh - 13.1rem - 8.3rem + 4.7rem);
  min-height: 100vh;
  height: fit-content;
  background: var(--white);
  // overflow-y: auto;
  border-top: 6px solid var(--cart-text);
}
.itemsWrap {
  width: 100%;
  min-height: calc(100vh - 13.1rem - 3.9rem);
  height: fit-content;
  background: var(--white);
  // overflow-y: auto;
  border-top: 6px solid var(--cart-text);
  position: relative;
}

.searchNo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--card-address);
  font-size: 1.7rem;
  font-weight: 600;
}
.refBox {
  // height: 1px;
  margin-top: -5rem;
}
