@import "@/styles/main.scss";

.drop {
  width: 100%;
  min-width: 39rem;
  max-width: 60rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  overflow: hidden;
  visibility: visible;
}

.dropWrap {
  width: 100%;
  border-radius: 1.4rem 1.4rem 0 0;
  padding: 2rem 1.7rem;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  animation: slide-up 0.3s ease-out;

  &.exit {
    animation: slide-down 0.3s ease-out forwards;
  }
}

.dropTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--green90);
  font-size: 2rem;
  font-weight: 800;
  @include respondTo(small) {
    font-size: 2.6rem;
  }
}

.dropClose {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  cursor: pointer;
}

.dropChildren {
  width: 100%;
  padding: 2.2rem 0;
}
.dropBtnOn,
.dropBtn {
  // width: 100%;
  // min-width: 35.6rem;
  height: 4.4rem;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropBtn {
  background: var(--btn-primary);
}
.dropBtnOn {
  width: 100%;
  background: var(--primary-green);
  cursor: pointer;
}
.cancle {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  @include respondTo(small) {
    gap: 1.4rem;
  }
  & > .dropBtn,
  .dropBtnCancel,
  .dropBtnOn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > .dropBtnCancel {
    border-radius: 10px;
    border: 1px solid var(--card-reject);
    background: var(--white);
    color: var(--btn-edit);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  & > .dropBtn {
    background-color: var(--card-reject);
  }
  & > .dropBtnOn {
    background-color: var(--error-red);
  }
}
.editProfile {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  @include respondTo(small) {
    gap: 1.4rem;
  }
  .dropBtnEdit,
  .dropBtn,
  .dropBtnOn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > .dropBtnEdit {
    border-radius: 10px;
    border: 1px solid var(--primary-green);
    background: var(--white);
    color: var(--btn-edit);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
