@import "@/styles/main.scss";

.adminWrap {
  width: 100%;
  height: calc(100vh - 7.5rem - 7.6rem);
  background: var(--cart-text);
  padding: 2rem 1.7rem;
}

.adminTitleWrap {
  display: flex;
  justify-content: space-between;
}
.adminTitle {
  display: flex;
  gap: 0.5rem;
}
.adminTitleText {
  color: var(--green90);
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 26px;
  @include respondTo(small) {
    font-size: 2.1rem;
  }
}
.adminTitleTag {
  width: 6rem;
  height: 2.5rem;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--error-red);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 26px;
  @include respondTo(small) {
    font-size: 1.6rem;
  }
}
.adminDrop {
  width: 10.2rem;
  height: 2.5rem;
  border-radius: 1.8rem;
  border: 1px solid var(--card-address);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--card-address);
  font-size: 1.4rem;
  line-height: 25px;
  cursor: pointer;
  @include respondTo(small) {
    font-size: 1.6rem;
  }
}
.adminCardList {
  padding: 1.9rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
