@import "@/styles/main.scss";

.toggleWrap {
  padding: 0 1.7rem 1.6rem;
  background-color: var(--white);
  display: flex;
  gap: 0.5rem;
}

.toggleBtnOn,
.toggleBtn {
  width: fit-content;
  height: 3.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 37px;
  border-radius: 5rem;
  padding: 0.7rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--createat);
  cursor: pointer;
}
.toggleBtnOn {
  color: var(--white);
  background: var(--primary-green);
}
