@import "@/styles/main.scss";

.profileWrap {
  width: 100%;
  height: 21.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  //   gap: 0.7rem;
}
.imgEditWrap {
  position: relative;
  width: 8.6rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}
.profileImg {
  width: 8.6rem;
  height: 8.6rem;
  position: relative;
  display: block;
  border-radius: 99rem;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.profileEdit {
  width: 3rem;
  height: 3rem;
  background-color: var(--white);
  border-radius: 100px;
  filter: drop-shadow(0px 1px 2px #b8c4c0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.profileEditimg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
}

.profile {
  display: none;
}
.profiltEditWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
.profileName {
  color: var(--green90);
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  & > img {
    margin-left: 0.5rem;
  }
  @include respondTo(small) {
    font-size: 2.2rem;
  }
}

.profileStar {
  color: var(--profile-star);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  @include respondTo(small) {
    font-size: 1.7rem;
  }
}
.profileStarImg {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.profileNoti {
  position: absolute;
  top: 4rem;
  right: 1.7rem;
  cursor: pointer;
}
.profileNotiOn {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  cursor: pointer;
  object-fit: cover;
}
