.list {
  @include flexbox(start);
  position: absolute;
  width: calc(100% - 4rem);
  padding: 1.6rem 0.2rem;
  top: 7rem;
  left: calc(50%);
  transform: translateX(-50%);
  gap: 1rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 4;
}

.bin-type-btn {
  @include flexbox();
  gap: 0.55rem;
  padding: 0.4rem 1rem 0.4rem 0.4rem;
  flex-shrink: 0;
  white-space: nowrap;
  background-color: var(--white);
  color: var(--state-btn);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5rem; /* 192.308% */
  letter-spacing: -0.013rem;
  border-radius: 1.95rem;
  background: var(--naver-text, var(--white));
  box-shadow: 0px 1px 6px 0px #c8d0cd;

  &.selected {
    border: 1px solid var(--primary-green);
    box-shadow: 0px 1px 6px 0px #c8d0cd;
  }

  > div {
    position: relative;
    width: 2.45rem;
    height: 25rem;
    @include respondTo(small) {
      width: 2.8243rem;
      height: 2.9006rem;
    }
  }
  @include respondTo(small) {
    font-size: 1.5rem;
    gap: 0.63rem;
  }
}
