@import "@/styles/main.scss";

$toggleBar: 7.5rem;
.toggleWrap {
  padding-left: 2.7rem;
  background-color: var(--white);
}
.toggleBar,
.toggleBar2 {
  width: $toggleBar;
  height: 0.4rem;
  flex-shrink: 0;
  border-radius: 5rem;
  background-color: var(--primary-green);
  transition: all 0.5s;
}
.toggleBar2 {
  margin-left: $toggleBar + 1.4rem;
}
.toggleItemOn,
.toggleItem {
  width: 7.5rem;
  color: var(--green90);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.toggleItem {
  color: var(--createat);
  font-weight: 400;
}
.toggle {
  display: flex;
  gap: 1.4rem;
}
