.btns-wrapper {
  @include flexbox(between);
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  width: calc(100% - 4rem);
  z-index: 6;
  opacity: 1;

  &.hasBin {
    bottom: 18rem;
  }
}

.search-around-bin-btn {
  @include flexbox();
  gap: 0.7rem;
  padding: 1.2rem 2.4rem;
  color: var(--state-btn);
  font-size: 1.5rem;
  line-height: 2rem; /* 166.667% */
  letter-spacing: -0.015rem;
  border-radius: 2.45rem;
  background: white;
  box-shadow: 0px 1px 6px 0px #c8d0cd !important;

  filter: grayscale(1);
  &.on {
    filter: grayscale(0);
    box-shadow: 0px 1px 6px 0px #c8d0cd;
  }
}

.my-location-btn {
  filter: grayscale(1);
}
