.btns-wrapper {
  position: relative;
  width: 100%;
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.7rem;
}
.description {
  color: var(--card-address);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem; /* 156.25% */
  letter-spacing: -0.024rem;
}

.title-box {
  @include column-flexbox();

  gap: 0.7rem;
}

.wrapper {
  text-align: center;

  width: 100%;
  height: 100vh;

  background-color: var(--white);

  > div {
    position: absolute;
    padding: 0 2rem;

    width: 100%;
    max-width: 39rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}
