.splashWrap {
  width: 100%;
  min-width: 39rem;
  max-width: 60rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: absolute;
  top: 0;
  z-index: 99;
  opacity: 0;
  animation: fadeOut 4s;

  & p {
    color: var(--splash-text);
    text-align: center;
    font-size: 1.4rem;
    line-height: 20px;
  }
}
.version {
  color: var(--btn-color);
  text-align: center;
  font-size: 1.4rem;
  line-height: 20px;
  position: absolute;
  bottom: 9.9rem;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
