@import "@/styles/main.scss";

.imgEditWrap {
  position: relative;
}
.profileImg {
  width: 8.6rem;
  height: 8.6rem;
  position: relative;
  display: block;
  border-radius: 99px;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.profileEdit {
  width: 3rem;
  height: 3rem;
  background-color: var(--white);
  border-radius: 100px;
  filter: drop-shadow(0px 1px 2px #b8c4c0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.profileEditimg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
}

.profile {
  display: none;
}
.profiltEditWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.nickname,
.nicknameRed,
.nicknameGreen {
  font-size: 1.6rem;
  font-weight: 500;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.nickname {
  color: var(--btn-selected);
}
.nicknameRed {
  color: var(--error-red);
}
.nicknameGreen {
  color: var(--primary-green);
}
.nicknameInput,
.nicknameInputRed,
.nicknameInputGreen {
  width: 100%;
  height: 4.4rem;
  border-radius: 10px;
  border: 1px solid var(--d9d9d9);
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.nicknameInputRed {
  border-color: var(--error-red);
}
.nicknameInputGreen {
  border-color: var(--primary-green);
}

.nicknameWrap {
  width: 100%;
}

.nicknameTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
.nicknameNotiRed {
  color: var(--error-red);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20px;
  @include respondTo(small) {
    font-size: 1.6rem;
  }
}
.nicknameNoti {
  color: var(--card-title);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20px;
  @include respondTo(small) {
    font-size: 1.6rem;
  }
  & span {
    color: var(--d9d9d9);
  }
}
.editfirst {
  color: var(--card-address);
  font-size: 1.5rem;
  line-height: 25px; /* 166.667% */
  margin-top: -2.5rem;
  margin-bottom: 3rem;
  @include respondTo(small) {
    font-size: 2rem;
  }
}
.inputX {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  right: 1.3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.inputWrap {
  position: relative;
}
