.map-wrapper {
  // position: relative;
  width: 100%;
  overscroll-behavior-y: none;
}

.btn-search-link {
  border-radius: 1rem;
  padding: 1.6rem;
  background: var(--white);
  box-shadow: 0px 1px 4px 0px #c8d0cd;
  flex-grow: 1;
  font-size: 1.5rem;
  letter-spacing: -0.0225rem;
  color: var(--btn-search-link);
  cursor: text;

  > button {
    @include flexbox();
    color: var(--btn-search-link);
    gap: 1rem;
    cursor: text;
  }
  @include respondTo(small) {
    font-size: 1.7rem;
  }
}

.btn-field {
  @include flexbox();
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  max-width: 60rem;
  gap: 1rem;
  z-index: 3;
  &.isAddBin {
    justify-content: start;
  }
}

.btn-addbin-link {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  @include respondTo(small) {
    width: 4.9rem;
    height: 4.9rem;
  }
}
.add-location-btn {
  z-index: 4;
}
