@import "@/styles/main.scss";

.cancelText,
.cancelTexteRed,
.cancelTextGreen {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.cancelText {
  color: var(--btn-selected);
}
.cancelTextRed {
  color: var(--error-red);
}
.cancelTextGreen {
  color: var(--primary-green);
}
.cancelTextInput,
.cancelTextInputRed,
.cancelTextInputGreen {
  width: 100%;
  height: 4.4rem;
  border-radius: 10px;
  border: 1px solid var(--d9d9d9);
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.cancelTextInputRed {
  border-color: var(--error-red);
}
.cancelTextInputGreen {
  border-color: var(--primary-green);
}
.inputWrap {
  position: relative;
}
.inputX {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  right: 1.3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
