@import "/src/styles/main.scss";

.modal {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.2);
}
.modalWrap {
  width: 100%;
  max-width: 35rem;
  padding: 6.7rem 3rem 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--white);
  border-radius: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.deleteModalWrap {
  width: 35.6rem;
  height: 21.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--white);
  border-radius: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalImgWrap {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--error-red);
  border-radius: 100px;
  margin-top: -2rem;
}
.modalImgWrapAccess {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-green);
  border-radius: 100px;
  margin-top: -2rem;
}
.modalImgWrapAudit {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--modal-title);
  border-radius: 100px;
  margin-top: -2rem;
}
.modalImg {
  width: 0.5rem;
  height: 2.3rem;
  position: relative;
}

.modalTitle {
  color: var(--error-red);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  @include respondTo(small) {
    font-size: 2.2rem;
  }
}
.modalTitleAccess {
  color: var(--primary-green);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  @include respondTo(small) {
    font-size: 2.2rem;
  }
}
.modalTitleAudit {
  color: var(--modal-title);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  @include respondTo(small) {
    font-size: 2.2rem;
  }
}

.modalText {
  color: var(--card-address);
  font-size: 1.6rem;
  text-align: center;
  line-height: 23px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}

.modalClose {
  color: var(--btn-color);
  text-align: center;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.6rem;
  cursor: pointer;
  @include respondTo(small) {
    font-size: 1.5rem;
  }
}

.modalMoreInfo {
  color: var(--card-address);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.3rem; /* 143.75% */
  text-decoration-line: underline;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
