.card-wrapper {
  position: relative;

  border-radius: 1.4rem;
  background: $white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
  padding: 2rem;

  width: 100%;

  &:disabled {
    background: #e0e3e2;
    > img {
      filter: grayscale(0.97) brightness(125%);
    }
    & p,
    h4 {
      color: #a6adab !important;
    }
  }
}

.card-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  line-height: 1;
}

.card-title-box {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: space-between;
}

.card-tag {
  padding: 0.3rem 1.2rem;
  margin-top: -0.4rem;
  border-radius: 1.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.014rem;
  margin-right: 0.5rem;

  &.PENDING {
    background: #e9e9e9;
    color: #bdbdbd;
  }
  &.APPROVED {
    background: #9bb7ad;
    color: #e1f4ed;
  }
  &.REJECTED {
    color: #f9e7e7;
    background: #c1aaaa;
  }
  &.bin {
    color: #d9d9d9;
    background: #fff;
    border: 0.1rem solid #d9d9d9;
  }
}

.card-title {
  color: #06130d;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: -0.017rem;
}

.card-likes {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.0225rem;

  > img {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(190deg)
      brightness(90%) contrast(91%);
  }

  &.mylike {
    color: #75968a;

    > img {
      filter: invert(59%) sepia(8%) saturate(765%) hue-rotate(107deg)
        brightness(94%) contrast(93%);
    }
  }

  &.admin {
    color: #75968a;
  }

  color: #d9d9d9;
}

.card-address {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.016rem;
  color: #515f58;
}

.card-createdAt {
  // position: absolute;
  // bottom: 2rem;
  // right: 2rem;
  color: #a4b7ad;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.0195rem;
}
.card-bottom {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
