.detailWrap {
  @include flexbox(between);
  width: 100%;

  padding: 2rem 1.7rem;
  background: #f4f6f5;
  line-height: 2.6rem;
}
.detailTitle {
  font-size: 1.9rem;
  font-weight: 700;
  color: #06130d;
}
.detailIitle-btn {
  text-align: right;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.014rem;
  text-decoration-line: underline;
  color: #a6adab;

  &-wrapper {
    @include flexbox(end);
    gap: 2rem;
  }
}
.detailInner {
  width: 100%;
  height: calc(100vh - 7.5rem - 7.6rem - 6.6rem);
  padding: 1.3rem 2.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  overflow-y: scroll;
}
.detail {
  color: #4d4d4d;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  & span {
    color: #a5a5a5;
    font-size: 1.3rem;
    line-height: 26px;
  }
}
.detailItemTitle {
  color: #6b7772;
  font-size: 1.6rem;
  line-height: 25px;
  border-radius: 1rem;
  background: #f4f6f5;
  padding: 1rem 1.4rem;
}

.detailSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.detailSelectItem,
.detailSelectItemOn {
  width: 48%;
  height: 4.4rem;
  border-radius: 1rem;
  background: #f4f6f5;
  color: #6b7772;
  font-size: 1.6rem;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailSelectItem {
  border: 1px solid #d9d9d9;
  background: #fff;
}
.detailBtn {
  display: flex;
  gap: 0.8rem;
}
.detailAccept,
.detailReject,
.detailRejectReport,
.detailAcceptReport {
  width: 17.4rem;
  height: 4.4rem;
  border-radius: 1rem;
  background: #0bb76d;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.detailReject {
  border: 1px solid #0bb76d;
  color: #3b4943;
  background: #fff;
}
.detailRejectReport {
  border: 1px solid #ff3232;
  color: #3b4943;
  background: #fff;
}
.detailAcceptReport {
  background: #ff3232;
}

.imgBox {
  position: relative;
  width: 100%;
  height: 14.3rem;

  border-radius: 1rem;
  overflow: hidden;
}
