.addbin {
  &-form {
    @include column-flexbox(start, start);
    gap: 2rem;

    font-size: 1.6rem;
    width: 100%;
    max-width: 39rem;
    padding: 1.8rem 2rem 11rem;
    transition: color 0.3s ease;
    background-color: #fff;

    > div {
      @include flexbox(start, start);
      flex-direction: column-reverse;
      position: relative;
      gap: 1.2rem;
      width: 100%;
    }
  }

  &-selector {
    flex-direction: row !important;
    flex-wrap: wrap;

    & .focus {
      color: $primary-green;
    }

    &.error {
      color: $error-red;
      > button {
        border-color: $error-red;
      }
    }
    & > button {
      width: 48.2%;
      &:focus {
        border-color: $primary-green;
        color: $primary-green;
      }
    }
  }

  &-label {
    font-weight: 500;
    letter-spacing: -0.016rem;
    width: 100%;
    cursor: pointer;

    color: #4d4d4d;

    &.error {
      color: $error-red;
    }
  }
  &-input {
    padding: 1.4rem;
    width: 100%;
    border-radius: 1rem;
    letter-spacing: -0.024rem;
    color: #4d4d4d;
    border: 1px solid #d9d9d9;
    background: #fff;

    &::placeholder {
      color: #a5a5a5;
    }

    &:focus {
      border: 1px solid $primary-green;
    }

    &.error {
      outline: none;
      border: 1px solid $error-red;
    }
    &-delete-button {
      position: absolute;
      bottom: 1.2rem;
      right: 1.4rem;
    }
  }

  &-img-box {
    @include column-flexbox();
    position: relative;
    width: 100%;
    margin-top: 1.2rem;
    height: 14.3rem;
    text-align: center;
    gap: 1.2rem;
    border-radius: 1rem;
    background-color: #f2f2f2;
    overflow: hidden;

    &-text {
      font-size: 1.4rem;
      letter-spacing: -0.021rem;
      color: #a5a5a5;
    }
  }
}

.img-input {
  position: absolute;
  left: 3rem;
  z-index: -1;
  top: 3rem;
}

.choose {
  font-size: 1.3rem;
  margin-left: 0.3rem;
  letter-spacing: -0.013rem;
  color: #a5a5a5;
}

.error-message {
  position: absolute;
  right: 0;
  top: 0.3rem;
  font-size: 1.3rem;
  color: $error-red;
}

.addbin-input:focus + .addbin-label,
.addbin-selector > button:focus + .addbin-label {
  color: $primary-green !important;
  &.error {
    color: $error-red !important;
  }
}

.preview {
  z-index: 3;
}

.edit-small-title {
  padding: 2rem 1.7rem 1.6rem;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 26px;
  background: #f4f6f5;
  color: #06130d;
}

.edit-btnWrapper {
  @include flexbox;
  width: 100%;
  gap: 0.8rem;
}
