@import "@/styles/main.scss";
.modal {
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.2);
}

.notiWrap {
  width: 100%;
  max-width: 60rem;
  min-width: 39rem;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.bar {
  width: 100%;
  height: 7.5rem;
  padding: 0 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  @include respondTo(small) {
    height: 10rem;
    & > div {
      font-size: 2.4rem;
    }
  }
  & > img {
    rotate: 180deg;
    cursor: pointer;
  }
  & > div {
    color: var(--green90);
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 37px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}
.notiCount {
  width: 6rem;
  margin-left: 0.5rem;
  height: 2.5rem;
  border-radius: 1.8rem;
  background: var(--error-red);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respondTo(small) {
    width: 6.5rem;
    height: 2.7rem;
    font-size: 1.6rem;
  }
}
.notiBack {
  width: 100%;
  height: 100%;
  background: var(--cart-text);
  overflow-y: auto;
  max-height: calc(100vh - 10rem - 8.3rem);
}

.notiItemBox {
  min-height: calc(100vh - 10rem - 8.3rem);
  height: fit-content;
  padding: 2.5rem 1.7rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  & .refBox {
    height: 1px;
    margin-top: -5rem;
  }
}
.notiItemWrap {
  padding: 1.2rem 1.7rem;
  width: 100%;
  max-height: 15.7rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  @include respondTo(small) {
    gap: 0.6rem;
  }
}
.notiItemDate {
  color: var(--noti-date);
  font-size: 1.3rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > .notiItemNew {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 2.5rem;
    background: var(--error-red);
  }
  @include respondTo(small) {
    font-size: 1.5rem;
  }
}
.notiItemAddress {
  color: var(--noti-date);
  font-size: 1.6rem;
  line-height: 25px;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.notiItemTitle {
  color: var(--green90);
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 24px;
  width: 95%;
  @include respondTo(small) {
    font-size: 1.9rem;
  }
}
.notiItemAdmin {
  color: var(--card-address);
  font-size: 1.6rem;
  line-height: 25px;
  margin-top: 0.6rem;
  @include respondTo(small) {
    font-size: 1.8rem;
  }
}
.notiItemDelete {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  cursor: pointer;
}

.notiNone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.5rem;
  gap: 1.2rem;
  & p {
    color: var(--comment-text);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 37px;
    @include respondTo(small) {
      font-size: 1.9rem;
    }
  }
}
