.comment-form {
  @include flexbox(center, end);
  gap: 0.8rem;
  padding: 1.2rem 2rem 2.8rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 16;
  background: var(--white);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);

  .comment-input {
    &-field {
      @include column-flexbox(start, start);
      gap: 1rem;
      flex-grow: 2;
    }

    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 1.4rem 3.5rem 1.4rem 1.4rem;
    border: 1px solid var(--d9d9d9);
    color: var(--btn-selected);
    background: var(--white);
    width: 100%;
    resize: none;
    overflow: hidden;

    &.error {
      border: 0.1rem solid var(--error-red);
    }
  }

  & .btn-field {
    @include column-flexbox();
    gap: 1.4rem;
    > button {
      max-width: 5.9rem;
      text-wrap: nowrap;
    }
  }
}
.comment-label {
  color: var(--btn-selected);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem; /* 162.5% */
  letter-spacing: -0.016rem;
  &.error {
    color: var(--error-red);
  }
}

.charCount {
  position: absolute;
  text-align: right;
  top: 2rem;
  font-size: 1.4rem;
  color: var(--d9d9d9);
}
.error-message {
  position: absolute;
  top: 1.5rem;
  right: 2.3rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 185.714% */
  letter-spacing: -0.014rem;
  color: var(--error-red);
}
.delete-input-btn {
  position: absolute;
  right: 10rem;
  top: 59%;
  transform: translateY(-50%);
  cursor: pointer;
}
