@import "@/styles/main.scss";

.inputWrap {
  width: 100%;
  height: 9.1rem;
  padding: 2.1rem 1.7rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}
.inputInner {
  width: 100%;
  max-width: 60rem;
  min-width: 35.6rem;
  height: 4.9rem;
  border-radius: 1rem;
  background: var(--input-bg);
  box-shadow: 0px 1px 4px 0px var(--box-shadow);

  color: var(--input-text);
  font-size: 1.5rem;
  line-height: 25px;

  display: flex;
  align-items: center;
  padding: 1.7rem 1.6rem;
  gap: 1rem;
  position: relative;
  z-index: 3;
  & > input {
    width: 100%;
    color: var(--black);
  }
}

.searchList {
  width: calc(100% - 3.4rem);
  max-width: 56.6rem;
  min-width: 35.6rem;
  max-height: 17.7rem;
  overflow-y: auto;
  background-color: var(--white);
  position: absolute;
  top: 7%;
  left: 50%;
  padding-top: 2.4rem;
  transform: translateX(-50%);
  border-radius: 0px 0px 14px 14px;
  display: flex;
  flex-direction: column;
  color: var(--black);
  // gap: 1rem;
  box-shadow: 0px 1px 4px 0px #b8c4c0;
  z-index: 2;

  animation: slideDown 1s;
  & > li {
    width: 100%;
    height: 5.1rem;
    display: flex;
    // flex-direction: column;
    font-size: 1.6rem;
    gap: 1.1rem;
    padding: 1.6rem 1.4rem;
    border-bottom: 1px solid var(--comment-modal-bg);

    cursor: pointer;
    & > p {
      flex: 1;
    }
  }
  & > li:last-child {
    border: none;
  }
}

.searchListNone {
  width: calc(100% - 3.4rem);
  max-width: 56.6rem;
  min-width: 35.6rem;
  overflow-y: auto;
  background-color: var(--white);
  position: absolute;
  top: 7%;
  left: 50%;
  padding-top: 2.4rem;
  transform: translateX(-50%);
  border-radius: 0px 0px 14px 14px;
  opacity: 0;
  // flex-direction: column;
  // gap: 1rem;
  box-shadow: 0px 1px 4px 0px #b8c4c0;

  animation: slideUp 0.3s;
  & > li {
    width: 100%;
    height: 5.1rem;
    display: flex;
    // flex-direction: column;
    font-size: 1.6rem;
    gap: 1.1rem;
    padding: 1.6rem 1.4rem;
    border-bottom: 1px solid var(--comment-modal-bg);

    cursor: pointer;
    & > p {
      flex: 1;
    }
  }
  & > li:last-child {
    border: none;
  }
}
@keyframes slideDown {
  0% {
    max-height: 0%;
  }
  100% {
    max-height: 17.7rem;
  }
}
@keyframes slideUp {
  0% {
    height: 17.7rem;
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
  }
}
