@import "@/styles/main.scss";

.profileWrap {
  width: 100%;
  height: 21.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  //   gap: 0.7rem;
}
.profileImg {
  width: 8.6rem;
  height: 8.6rem;
  position: relative;
  display: block;
  border-radius: 99rem;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.profileName {
  color: var(--green90);
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  @include respondTo(small) {
    font-size: 2.2rem;
    gap: 1rem;
  }
}

.loginImg {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  fill: #3b866b;
}
.profileNoti {
  position: absolute;
  top: 4rem;
  right: 1.7rem;
  cursor: pointer;
}
