.toast-wrapper {
  position: absolute;
  top: 6.2rem;
  left: 50%;

  transform: translateX(-50%);
  background: var(--toast-bg);
  color: var(--toast);
  border-radius: 1.7rem;
  padding: 0.6rem 2.4rem;
  animation: slideIn 0.5s forwards;

  &::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);

    border-width: 1rem;
    border-style: solid;
    border-color: var(--toast-bg) transparent transparent transparent;
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

.toast-text {
  @include flexbox();
  color: var(--toast);
  text-align: center;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: -0.0195rem;
  text-wrap: nowrap;

  &-glitter {
    font-size: 2rem;
  }

  @include respondTo(small) {
    font-size: 1.5rem;
    &-glitter {
      font-size: 2.2rem;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
