.reasons {
  @include column-flexbox(start, start);
  gap: 1.7rem;
}

.text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: -0.016rem;
  color: #515f58;

  &-wrapper {
    @include flexbox(between);
    width: 100%;
  }
}
.tag {
  width: 7rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  background-color: #ff3232;
  color: #fff;

  &.none {
    background-color: #e9aead;
  }
}
.detailInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.detail {
  color: #4d4d4d;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  & span {
    color: #a5a5a5;
    font-size: 1.3rem;
    line-height: 26px;
  }
  & > img {
    object-fit: cover;
    border-radius: 1rem;
  }
}
.detailItemTitle {
  color: #6b7772;
  font-size: 1.6rem;
  line-height: 25px;
  border-radius: 1rem;
  background: #f4f6f5;
  padding: 1rem 1.4rem;
}

.detailSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.detailSelectItem,
.detailSelectItemOn {
  width: 48%;
  height: 4.4rem;
  border-radius: 1rem;
  background: #f4f6f5;
  color: #6b7772;
  font-size: 1.6rem;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailSelectItem {
  border: 1px solid #d9d9d9;
  background: #fff;
}
